/* General Card Styles */

.card {
    min-height: 490px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    overflow: hidden; 
    position: relative;
}

.custom-card {
    width: 250px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px;
}

/* Image Styling */

.card-img-top img {
    object-fit: contain;
    max-height: 150px;
}

/* Card Body Styling */

.card-body h5 {
    font-size: 1rem;
    font-weight: bold;
}

.card-body p {
    font-size: 0.7rem;
    color: #000;
}

/* Card Footer Styling */

.card-footer {
    border-top: none;
    background-color: #000;
    padding: 10px 20px;
    margin-bottom: 3ch;
}

.card-footer .button-group {
    align-items: center;
}

.button-group .btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dot Styling */

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 5px;
    height: 5px;
    margin: 0 4px;
    background-color: #D3D3D3;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dot.active {
    width: 15px;
    height: 5px;
    background-color: #000;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* General Button Styling */

.btn {
    background-color: #000;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

/* Next Button Styling */
.btn-dark {
    background-color: #000;
    color: #fff;
    border: none;
}

.btn-dark:hover {
    background-color: #333; 
    color: #fff;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

/* Previous Button Styling */
.btn-light {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.btn-light:hover {
    background-color: #f2f2f2; 
    color: #000;
    border: 1px solid #000;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}

.button-group .btn {
    margin: 0 3px;
}

/* Card Image Container Styling */
.image-container {
    position: relative; 
    overflow: hidden;   
}

/* Animations */
@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animation Classes */
.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

.slide-in-right {
    animation: slideInRight 0.5s forwards;
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}


